DEBUG=True
SECRET_KEY='django-insecure-a4r@p0663hn_^ulg7vjr3(el-xkixs1l^3dxze2&6f@w%-rygm'

TIMEZONE=UTC


DATABASE_ENGINE=mysql
DATABASE_NAME=disaster
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306


EMAIL_BACKEND=smtp
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True

EMAIL_HOST_USER=youremail@gmail.com
EMAIL_HOST_PASSWORD=yourpassword