{% extends "base_dashboard.html" %}

{% block title %}New Supplies Class{% endblock %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>Add New Supplies Class</h1>
    </div>
    <div class="panel-body">
        <form method="POST" action="">
        {% csrf_token %}
            <div class="form-group">
                <label for="supplies_class" class="form-label"> Supply Class: </label>
                <input type="text" id="supplies_class" name="supply_code" value="{{ form.supply_code.value |default_if_none:'' }}"> <br>
            </div>

            <div class="form-group">
                <label for="billing_code" class="form-label"> Billing Codes: </label>
                <input type="text" id="billing_code" name="billing_code" value="{{ form.billing_code.value |default_if_none:'' }}"><br>
            </div>

            <div class="form-group">
                <label for="default_rates" class="form-label">Default Rates(Hourly): </label>
                <input type="text" id="default_rates" name="default_rates" value="{{ form.default_rates.value |default_if_none:''}}"><br>
            </div>
            <div class="form-group">
                <label>
                <input type="checkbox" name="active"> Active
                </label>
            </div>
            <input type="button" value="Clear" id="resetBtn" onClick="this.form.reset()" />
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}
